/* Base CSS */

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f8fa;
}

/* Navbar CSS */
.navbar {
  height: 10%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  width: 20%;
  height: 20%;
  display: flex;
  padding: 0;
  margin: 0;
}
.navbar-brand img {
  width: 100%;
  height: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-item {
  font-weight: bold;
  font-size: 16px;
  margin: 0 1.5rem;
}

.nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.25rem 0;
}

.navbar-toggler {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  position: absolute;
}

.navbar-toggler-icon::before {
  top: 10px;
  left: 0;
}

.navbar-toggler-icon::after {
  top: 20px;
  left: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.collapse.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}

.collapse.navbar-collapse.show {
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 1rem;
  border-top: 1px solid #e7e7e7;
}

.collapse.navbar-collapse .navbar-nav {
  flex-direction: column;
  align-items: center;
}

.collapse.navbar-collapse .nav-item {
  margin: 0.5rem 0;
}

@media (min-width: 992px) {
  .collapse.navbar-collapse {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    border-top: none;
  }

  .collapse.navbar-collapse .navbar-nav {
    flex-direction: row;
  }

  .collapse.navbar-collapse .nav-item {
    margin: 0 1.5rem;
  }
  .btn-primary {
    margin-left: 90%;
    background-color: rgba(5, 127, 250, 1);
  }
  .nav-link:last-child {
    position: relative;
    left: 110px;
    right: 0;
  }
}

/* Main Section */
#main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-wrapper,
.right-wrapper {
  flex-basis: 50%;
  background-color: #f7f8fa;
  position: relative;
}

.left-txt-card {
  width: 70%;
  height: 60vh;
  position: relative;
  border-radius: 10%;
  left: 25%;
  top: 25%;
  background-color: rgba(5, 127, 250, 0.8);
}

.left-txt-card:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 45%;
  width: 50%;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 20px solid rgba(5, 127, 250, 0.8);
  border-bottom: 5cqmin solid transparent;
}

#right-txt {
  font-size: 28px;
  padding: 10%;
  color: #fff;
}

#desc-txt {
  color: white;
  padding: 10%;
  position: inherit;
  bottom: 25%;
}

#hand-pic {
  position: absolute;
  width: 120%;
  height: 100vh;
  right: 0;
  bottom: 0;
}

#signUp-btn {
  width: 25%;
  height: 15%;
  position: absolute;
  left: 60%;
  bottom: 3%;
  border-radius: 20px;
  background-color: rgba(23, 40, 57, 0.8);
  border: transparent;
  color: #fff;
}

#signUp-btn:hover {
  letter-spacing: 2px;
  background-color: hsl(217, 82%, 40%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(23 40 57) 0px 7px 29px 0px;
  text-transform: uppercase;
  transition: 1.5s ease;
}

#signUp-btn:active {
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(38, 146, 255, 0.8);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  text-transform: uppercase;
}

#signUp-txt {
  font-size: 12px;
  position: absolute;
  bottom: 2.5%;
  left: 10%;
  color: #fff;
}

/* Popular Section */
#most-popular-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f7f8fa;
}

#popular-txt {
  padding: 3%;
  position: relative;
  bottom: 2%;
  text-align: center;
  font-size: 16px;
}

#popular-values {
  position: relative;
  bottom: 5%;
  width: 50%;
  height: 70vh;
  background-color: rgba(5, 127, 250, 0.8);
  border-radius: 5%;
  align-self: center;
  color: #fff;
}

table {
  position: relative;
  top: 6%;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.6%;
  text-align: center;
}

#stats-txt {
  width: 50%;
  position: relative;
  top: 2.5%;
  left: 25%;
}

#stats-btn {
  width: 10%;
  height: 5%;
  position: relative;
  left: 65%;
  bottom: 5%;
  border-radius: 20px;
  background-color: rgba(23, 40, 57, 0.8);
  border: transparent;
  color: #fff;
}

#stats-btn:hover {
  letter-spacing: 2px;
  background-color: hsl(217, 82%, 40%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(23 40 57) 0px 7px 29px 0px;
  text-transform: uppercase;
  transition: 1.5s ease;
}

#stats-btn:active {
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(38, 146, 255, 0.8);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  text-transform: uppercase;
}

/* FAQ Section */
#main-faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f7f8fa;
  margin-top: 5%;
}

#faq-img {
  position: relative;
  top: 20%;
  width: 20%;
  height: 50%;
  align-self: flex-end;
}

#faq-header {
  text-align: center;
}

#faq-txt {
  text-align: center;
}

#faq-card-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.faq-card {
  position: relative;
  bottom: 55%;
  width: 60%;
  max-width: 600px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-btn {
  width: 100%;
  padding: 15px;
  text-align: left;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content p {
  margin: 0;
}

.dropdown-btn:hover {
  background-color: #0056b3;
}

/* Footer Section */
#footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  color: #fff;
  width: 100%;
  height: 50vh;
  background: rgb(247, 248, 250);
  background: linear-gradient(
    180deg,
    rgba(247, 248, 250, 1) 7%,
    rgba(0, 123, 255, 1) 51%
  );
}

#footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  position: relative;
  top: 30%;
}

#footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

#footer .footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

#footer .footer-links a:hover {
  color: #ffcc00;
}

#footer .social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

#footer .social-icons #contact-txt {
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 30%;
}

#footer .social-icons a {
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s;
}

#footer .social-icons a i {
  font-size: 24px;
}

#footer .social-icons a img {
  width: 24px;
  height: 24px;
}

#footer .social-icons a:hover {
  transform: scale(1.1);
}

#copyright {
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 20%;
}

@media (max-width: 992px) {
  .collapse.navbar-collapse {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  #main {
    flex-direction: column;
  }

  .left-wrapper,
  .right-wrapper {
    flex-basis: 100%;
  }

  .left-txt-card {
    width: 90%;
    left: 5%;
    z-index: 102;
  }

  #desc-txt {
    color: white;
    padding: 10%;
    position: inherit;
    bottom: 15%;
  }

  #hand-pic {
    width: 100%;
    height: auto;
  }

  #signUp-btn {
    width: 30%;
    left: 65%;
  }

  #signUp-txt {
    font-size: 10px;
  }

  #most-popular-wrapper {
    height: auto;
  }

  #popular-values {
    width: 90%;
    height: auto;
  }

  #stats-txt {
    width: 50%;
    position: relative;
    margin-top: 2.5%;
    left: 25%;
  }

  #stats-btn {
    width: 25%;
    height: 5%;
    position: relative;
    left: 37.5%;
    bottom: 5%;
    border-radius: 20px;
    background-color: rgba(23, 40, 57, 0.8);
    border: transparent;
    color: #fff;
  }

  #faq-card-wrapper {
    height: auto;
  }

  .faq-card {
    width: 90%;
  }

  #faq-img {
    align-self: center;
    top: 60%;
    width: 70%;
    height: 50%;
  }

  #footer {
    height: auto;
    padding: 20px 10px;
  }

  #footer .footer-content {
    top: 0;
  }

  #footer .footer-links {
    flex-wrap: wrap;
  }

  #footer .social-icons {
    flex-wrap: wrap;
  }

  #footer .social-icons a {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .collapse.navbar-collapse {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  #main {
    flex-direction: column;
  }

  .left-wrapper,
  .right-wrapper {
    flex-basis: 100%;
  }

  .left-txt-card {
    width: 90%;
    left: 5%;
    z-index: 101;
  }

  #desc-txt {
    color: white;
    padding: 10%;
    position: inherit;
    bottom: 15%;
  }

  #hand-pic {
    width: 100%;
    height: auto;
  }

  #signUp-btn {
    width: 30%;
    left: 65%;
  }

  #signUp-txt {
    font-size: 10px;
  }

  #most-popular-wrapper {
    height: auto;
  }

  #popular-values {
    width: 90%;
    height: auto;
  }

  #faq-card-wrapper {
    height: auto;
  }

  .faq-card {
    width: 90%;
  }

  #faq-img {
    align-self: center;
    top: 60%;
  }

  #footer {
    height: auto;
    padding: 20px 10px;
  }

  #footer .footer-content {
    top: 0;
  }

  #footer .footer-links {
    flex-wrap: wrap;
  }

  #footer .social-icons {
    flex-wrap: wrap;
  }

  #footer .social-icons a {
    margin-bottom: 10px;
  }
}

/* Additional styles for login and logout buttons */
#login button,
#login .nav-link {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#login .nav-link {
  color: #007bff;
}

#login .nav-link:hover {
  color: #0056b3;
  text-decoration: none;
}

#login button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#login button:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #004085;
}

#login button:focus,
#login button.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Ensure proper spacing to avoid overlap */
.navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
