

.table-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.table-nav button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.table-nav button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .table-nav {
        flex-direction: column;
    }

    .table-nav button {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .ranking-card {
        padding: 10px;
    }

    .table-headings {
        font-size: medium;
    }

    .table-subheading {
        font-size: small;
    }

    .table-nav {
        flex-direction: column;
        align-items: center;
    }

    .table-nav button {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* Sort Indicator */
th.asc::after {
       content: ' ▲';
}
th.desc::after {
       content: ' ▼';
}