body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  height: 10%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 26px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-item {
  font-weight: bold;
  font-size: 16px;
  margin: 0 1.5rem;
}

.nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.25rem 0;
}

/*↓↓↓ For testing purposes wil be deleted later ↓↓↓ */
#test-page {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: cadetblue;
}

/*↑↑↑ For testing purposes wil be deleted later ↑↑↑ */

.navbar-toggler {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  position: absolute;
}

.navbar-toggler-icon::before {
  top: 10px;
  left: 0;
}

.navbar-toggler-icon::after {
  top: 20px;
  left: 0;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

.collapse.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}

.collapse.navbar-collapse.show {
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 1rem;
  border-top: 1px solid #e7e7e7;
}

.collapse.navbar-collapse .navbar-nav {
  flex-direction: column;
  align-items: center;
}

.collapse.navbar-collapse .nav-item {
  margin: 0.5rem 0;
}

@media (min-width: 992px) {
  .collapse.navbar-collapse {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    border-top: none;
  }

  .collapse.navbar-collapse .navbar-nav {
    flex-direction: row;
  }

  .collapse.navbar-collapse .nav-item {
    margin: 0 1.5rem;
  }
  .btn-primary {
    margin-left: 90%;
  }
  .nav-link:last-child {
    position: relative;
    left: 110px;
    right: 0;
  }
}
